/* Reset */

body {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0.01rem 0px 0px rgba(0, 0, 0, 0.5);
    font-weight: 300;
    letter-spacing: 0.6px;
    background-color: #fcfcfc;
}

.row {
    max-width: 90rem;
}

ul {
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}