/* Variables */
$open-sans: "Open Sans", Helvetica, Arial, sans-serif;
/* Colours2 */
$white-color: #fafafa;
$bg-color: #293134; 

$mobile-row-padding: 0 1.25rem;


@import 'imports/styles';
@import 'imports/header';
@import 'imports/hero';
@import 'imports/portfolio';
@import 'imports/gallery-julia';
@import 'imports/map';
@import 'imports/post';
@import 'imports/animations';
@import 'imports/footer';