/* Common style */

figure.effect-julia {
    position: relative;
    margin: 0;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

figure.effect-julia img, figure.effect-julia picture {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
}

figure.effect-julia figcaption {
    padding: 0 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-julia figcaption::before,
figure.effect-julia figcaption::after {
    pointer-events: none;
}

figure.effect-julia figcaption,
figure.effect-julia figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

figure.effect-julia figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

figure.effect-julia h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

figure.effect-julia h2 span {
    font-weight: 800;
}

figure.effect-julia h2,
figure.effect-julia p {
    margin: 0;
}

figure.effect-julia p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/* Individual effects */


/*---------------*/


/***** Julia *****/


/*---------------*/

figure.effect-julia {
    background: #2f3238;
}

figure.effect-julia img, figure.effect-julia picture {
    max-width: 100%;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    //-webkit-backface-visibility: hidden;
    //backface-visibility: hidden;
}

figure.effect-julia figcaption {
    text-align: left;
}

figure.effect-julia h2 {
    display: block;
    font-weight: 700;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-700px, 0, 0);
    transform: translate3d(-700px, 0, 0);
}

figure.effect-julia p {
    display: block;
    margin: 0 0 0.25em;
    color: #2f3238;
    text-transform: none;
    font-weight: 500;
    font-size: 90%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-700px, 0, 0);
    transform: translate3d(-700px, 0, 0);
    span {
        background: rgba(255, 255, 255, 0.9);
        display: inline-block;
        padding: 0.4em 1em;
    }
}

@media only screen and (min-width: 64.063em) {
    /* Applying effect only on Large */
    figure.effect-julia h2 {}
    // Font effects 
    .effect-julia h2 {
        position: relative;
        font-size: calc(1.5vw + 1.5vh + 2vmin);
        line-height: 1;
        padding: 0 0 0.5em 0;
    }
    .effect-julia p:last-child {
        margin-bottom: 0;
    }
    .effect-julia figcaption div {
        position: relative;
        top: 50%!important;
        transform: translateY(-50%);
    }
    figure.effect-julia p:first-child,
    figure.effect-julia h2 {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }
    figure.effect-julia p:nth-of-type(2) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    figure.effect-julia p:nth-of-type(3) {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }
    figure.effect-julia:hover p:first-child,
    figure.effect-julia:hover h2:first-child {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    figure.effect-julia:hover p:nth-of-type(2) {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }
    figure.effect-julia:hover p:nth-of-type(3) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    figure.effect-julia:hover img,
    figure.effect-julia:hover picture {
        opacity: 0.4;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.6, 1.6, 1);
        transition: opacity 0.5s, transform 4s;
    }
    figure.effect-julia:hover p,
    figure.effect-julia:hover h2 {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}