/* Portfolio - Gallery */

.portfolio-wrapper {
    background: $bg-color;
    h1 {
        color: $white-color;
        font-weight: 700;
        padding: 2rem 0;
        font-size: 3.5rem;
        text-align: center;
    }
    ul li {
        padding: 0;
    }
}


/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) {
    .portfolio-wrapper {
        
        h1 {
            padding: 3rem 0;
        }
    }
}