/* Portfolio - Gallery */

.portfolio-wrapper {
    background: $bg-color;
    padding: 2em 0 0 0;
    h1 {
        color: $white-color;
        font-weight: 800;
        margin: 0 0 4rem;
    }
    ul li {
        padding: 0;
    }
}


/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) {
    .portfolio-wrapper {
        padding: 6rem 0 4rem;
    }
}